.button a {
  color: #080c71;
  font-size: 30px;
  font-family: Merriweather;
  text-decoration: none;
  list-style: none;
  background-color: white;
  margin-top: 45px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 120px;
}

.button {
  margin-top: 20px;
  border-top: solid;
  display: flex;
  border-top-color: white;
}
